* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4f4545;
    font-family: Arial, Helvetica, sans-serif;
}
.body-brown{
    background-color: #4f4545;
}

h1 {
    color: #ffff00;
    margin: 20px 0;
}

.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busca button:hover {
    background-color: #444;
}

.resultado {
    width: 300px;
    display: none;
    border: 1px dotted #FFF;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.titulo {
    width: 100%;
    color: #ffff00;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #312828;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
    background-color: #312828;

}
.info .vento {
    flex: 1;
    text-align: center;
    background-color: #312828;
}
.tempTitulo,
.ventoTitulo {
    color: #ffff00;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: #fefefe;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.aviso {
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    color: #ffff00;
    font-size: 13px;
}

.broken-clouds-day{
    background-image: url(../image/broken-clouds-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.broken-clouds-night{
    background-image: url(../image/broken-clouds-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.clear-sky-day{
    background-image: url(../image/clear-sky-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.clear-sky-night{
    background-image: url(../image/clear-sky-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.few-clouds-day{
    background-image: url(../image/few-clouds-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.few-clouds-night{
    background-image: url(../image/few-clouds-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mist{
    background-image: url(../image/mist.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scattered-clouds-day{
    background-image: url(../image/scattered-clouds-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.scattered-clouds-night{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.rain-day{
    background-image: url(../image/rain-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.rain-night{
    background-image: url(../image/rain-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shower-rain-day{
    background-image: url(../image/shower-rain-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.shower-rain-night{
    background-image: url(../image/shower-rain-nitght.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.snow{
    background-image: url(../image/snow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.thunderstorm{
    background-image: url(../image/thunderstorm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}